*{
    margin: 0px;
    padding: 0px;
}
body{
    width：1000px；
    hieght：1000px；
    background-color：red；
}
#a1{
    width: 200px;
    height: 200px;
    background-color: blue;
    border-radius: 50%;
}
